{
  "extends": ["standard-preact"],
  "rules": {
    "semi": [ "error", "never" ],
    "quotes": [ "error", "single" ],
    "jsx-quotes": [ "error", "prefer-double" ],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }],
    "react/jsx-tag-spacing": "error"
  }
}
