<!doctype html>
<html>
  <head>
    <title><%= worldName %></title>

    <meta charset='utf-8' />
    <meta name='viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel='icon' type='image/png' href='/img/icon.png' />

    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">

    <link rel='stylesheet' type='text/css' media='all' href='/css/layout.css' />
    <link rel='stylesheet' type='text/css' media='all' href='/css/colors.css' />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"
      integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8="
      crossorigin="anonymous">
    </script>

    <script type='text/javascript' src='/js/bundle.js'></script>
  </head>

  <body>
    <div id='client'>
      <div id='banner'>
        <a target='_blank' href='http://postfurry.net/muck'>PFMuck</a> WebClient &alpha;
        &middot; Experimental code &middot;
        Report issues on the Discord server or
        <a target='_blank' href='https://github.com/postfurry/mucky/issues'>Github</a>
      </div>
      <div id='output-pane'></div>
      <div id='input-pane'>
        <textarea class='input-box'></textarea>
      </div>
    </div>

  </body>
</html>
