span.bold {
  font-weight: bold;
}

span.underline {
  text-decoration: underline;
}

span.normal {
  color: #dddddd;
  font-weight: normal;
  text-decoration: none;
}

span.self {
  color: #586e75;
}

span.black {
  color: #073642;
}

span.red {
  color: #dc322f;
}

span.green {
  color: #859900;
}

span.yellow {
  color: #b58900;
}

span.blue {
  color: #268bd2;
}

span.magenta {
  color: #d33682;
}

span.cyan {
  color: #2aa198;
}

span.white {
  color: #eee8d5;
}

span.black-bg {
  background: #073642;
}

span.red-bg {
  background: #dc322f;
}

span.green-bg {
  background: #859900;
}

span.yellow-bg {
  background: #b58900;
}

span.blue-bg {
  background: #268bd2;
}

span.magenta-bg {
  background: #d33682;
}

span.cyan-bg {
  background: #2aa198;
}

span.white-bg {
  background: #eee8d5;
}
