@import 'colors';
@import 'globals';

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .banner {
    flex: 0 0 auto;
    padding: $slim-padding;
    background: $black;
    font-size: $global-font-size * 0.75;

    a,
    a:visited,
    a:hover {
      color: $midlight;
    }
  }

  .output-pane {
    position: relative;
    overflow-y: auto;
    padding: $default-padding;
    white-space: pre-wrap;
    flex: 1 1 auto;
  }

  input,
  button {
    border: $darker;
    background: $darker;
    color: $lightest;
    font-family: 'Source Code Pro', monospace;
    font-size: $global-font-size;
    padding: 0;
    margin: 0 0.5em 0 0;

    &:focus {
      outline: none;
    }
  }

  @mixin bottom-pane {
    flex: 0 0 auto;
    padding: $default-padding;
    background: $darker;
  }

  .login-pane {
    @include bottom-pane;

    display: flex;
    align-items: center;
    flex-direction: row;

    .login-info {
      width: 10em;
    }

    button,
    .button {
      text-decoration: underline;
      font-weight: bold;
      margin-left: 1em;
    }
  }

  .input-pane {
    @include bottom-pane;

    textarea {
      resize: none;
      border: $darker;
      background: $darker;
      color: $lightest;
      font-family: 'Source Code Pro', monospace;
      font-size: $global-font-size;
      width: 100%;
      height: 4em;

      &:focus {
        outline: none;
      }
    }
  }

  .reconnect-pane {
    @include bottom-pane;
  }
}
