$black: #000;
$white: #fff;

// Solarized
$darkest:   #002b36;
$darker:    #073642;
$dark:      #586e75;
$middark:   #657b83;
$midlight:  #839496;
$light:     #93a1a1;
$lighter:   #eee8d5;
$lightest:  #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
