@import 'colors';
@import 'globals';

$hanging-indent: $global-font-size * $font-width-ratio;

.output-line {
  &.self {
    color: $dark;
  }

  &.system {
    color: $yellow;
  }

  padding-left: $hanging-indent;
  text-indent: -$hanging-indent;
}
